{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Este artículo es solo para suscriptores pagos</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Este artículo es solo para suscriptores</h4>
    {{/has}}
    {{#has visibility="tiers"}}
        <h4 class="gh-cta-title">¿Quieres acceder a nuestras píldoras de crecimiento? Este contenido es exclusivo para nuestros miembros pagos.</h4>
        <p style="margin-bottom: 2rem;">Los miembros pagos además reciben un resumen semanal de píldoras, tienen acceso a nuestro archivo, a publicaciones exclusivas y mucho más.</p>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <a class="gh-head-btn gh-btn gh-primary-btn" target="_blank"
             href="https://www.mercadopago.com.co/subscriptions/checkout?preapproval_plan_id=2c9380848e1d0a2f018e3576778911db" style="color:white;text-decoration:solid">Hazte miembro</a>
        {{else}}
            <a class="gh-head-btn gh-btn gh-primary-btn" target="_blank" href="https://www.mercadopago.com.co/subscriptions/checkout?preapproval_plan_id=2c9380848e1d0a2f018e3576778911db" style="color:white;text-decoration:solid">Hazte miembro</a>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">¿Ya tienes cuenta? Ingresar</span>
        {{/if}}
    </div>
</section>